html {
    font-family: 'Inter', sans-serif;
 
}

body{

    background-color: #151515;
}

header{

    min-height: 4rem;
    /*height: max(8vh, 60px); Pode ser feito assim tbm*/
    background-color: #000000;
    color: #f4f4f4

}

main {
    color: #f4f4f4;
}

footer{
    color: #ffffff;
    background-color: #000000;
}

#introducao{
    text-align: center;
    min-height: 94vh;
    align-items: center;
    background-color: black; 

    position: relative;
    display: flex;
    justify-content: center;
}

.espaco-extra{
    margin-top: 2rem;
}

.espaco-extra-lg{
    margin-top: 4rem;
}


.container {
    max-width: 120rem;
    margin: 0 auto;
}
.container--lg {
    max-width: 140rem;
}

.animacao {
    width: 100%;   
    height: 100%;
    object-fit: cover;
    filter: brightness(15%);
    position:absolute;
    z-index: 1;
}

.texto-central {
    position: relative; 
    z-index: 2;
    text-align: center;
    color: white;
}

.titulo-1 {

    font-size: 2.5rem;
}
@media (min-width:886px){
    .titulo-1{
        font-size: 4.5rem;
    }
}

.content {
    padding: 1rem 2rem;
      /*sentido horario: vertical, horizontal*/
}

